@import 'tools/normalize.scss'
@import 'components/cards.sass'

html
  background-color: #FCFCFC

.body-container
  background: #FCFCFC

.logo-container.container-fluid
  text-align: center
  margin-top: 10px
  margin-left: auto
  margin-right: auto

.hero-container
  margin-top: 10px
  margin-left: auto
  margin-right: auto
  margin-bottom: 50px
  transition: top 0.5s linear
  max-width: 256px
  max-height: 256px
  img
    max-width: 100%
    max-height: 100%

.search-container
  text-align: center
  padding: 0 0 50px 0
  // background-color: #FCFCFC

.input-container
  vertical-align: bottom
  outline: solid 1px #9A9A9A
  display: inline-block
  margin-top: 30px
  margin-right: 10px
  width: 70%
  max-width: 400px

.form-input
  max-width: 335px;
  width: 80%;
  min-height: 41px
  border: none
  -webkit-box-shadow: 0 0 0px 1000px #FCFCFC inset // background color for Chrome auto-complete
  &:focus
    outline: none

.select-lang
  border: none
  background-color: #FCFCFC
  &:focus
    outline-color: #9A9A9A
    background-color: #EFEFEF
  &:hover
    background-color: #EFEFEF
    cursor: pointer

.submit-btn
  background-color: #C7C7C7
  width: 52px
  height: 42px
  font-size: 16px
  border: none
  color: black
  border-radius: 2px
  transition: all 0.3s ease
  &:focus
    outline-color: black
  &:hover
    background-color: #EAEAEA

.random-btn
  background-color: #F4F4F4
  width: 250px
  height: 30px
  border: solid 1px black
  font-size: 14px
  color: black
  border-radius: 2px
  transition: all 0.1s ease;
  &:focus
    outline-color: black
  &:hover
    background-color: #FCFCFC
  span
      padding-left: 6px
      vertical-align: -1px

.random-btn-wrapper
  text-align: center
  margin-right: auto
  margin-left: auto
  max-width: 455px
  width: 80%;
  display: block
  overflow: hidden
  &:before , &:after
    position: relative;
    content: ""
    display: inline-block
    width: 50%
    border-top: solid 1px black
  &:before
    right: 10px
    margin-left: -50%
  &:after
    left: 10px
    margin-right: -50%

.box-footer
  background-color: #FCFCFC
  text-align: center
  display: block;
  font-size: 80%;
  padding: 20px 0 50px 0
  margin: 0 auto
