.result-container
  // background-color: green
  margin-top: 24px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.card-wrapper
  // background-color: red
  position: relative
  border: solid 1px black
  max-width: 600px
  min-height: 150px
  max-height: 250px
  margin: 0 12px 12px 12px

.article-head
  margin: 12px
  // background-color: blue

.aticle-body
  margin: 12px
  // background-color: yellow

.article-text
  float: right
  width: 75%
  overflow: hidden

.thumbnail
  position: absolute
  // background-color: orange
  float: left
  width: 25%
  overflow: hidden
  height: 100%
  object-fit: cover
